# Use `rake secret` to generate one key
SECRET_KEY_BASE: ''

# domain name used by ActionCable
DOMAIN: ''
PROTOCOL: http

# UPYUN set
UPYUN_USERNAME: ''
UPYUN_PASSWORD: ''
UPYUN_BUCKET: ''
UPYUN_BUCKET_HOST: ''

DATABASE_URL: "postgresql://yingxuan_devs:yingxuanApp@postgres:5432/myapp?encoding=utf8&pool=5&timeout=5000"
DATABASE_NAME: ""
DATABASE_USERNAME: ""
DATABASE_PASSWORD: ""

WEB_CONCURRENCY: '1'
RAILS_MIN_THREADS: '1'
RAILS_MAX_THREADS: '5'
PORT: '3000'

CACHE_URL: "redis://redis:6379/0"
JOB_WORKER_URL: "redis://redis:6379/0"